#squareList {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    color: black;
}

.project {
    margin: 3px 3px;
    text-decoration: none;
    width: 160px;
    height: 120px;
    border: 3px solid white;
}

.project div:nth-child(1){
    height: 70%;
    color: white;
    padding-left: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* background-image: linear-gradient(to right top, #12a86ffd, #031a18b2); */
    background: url("https://i.pinimg.com/originals/3e/b1/d7/3eb1d7ff5cf36b1d32e340f36d9bc82b.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project div:nth-child(2){
    height: 30%;
    font-size: 13px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    padding-left: 5px;
    background-color: #040124;
}
