#squareList {
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    color: black;
}

.project {
    margin: 0px 10px;
    text-decoration: none;
    width: 160px;
    height: 120px;
    border: 3px solid white;
}

.project div:nth-child(1){
    height: 70%;
    color: white;
    background-image: linear-gradient(to right top, #12a86ffd, #031a18b2);
}

.project div:nth-child(2){
    height: 30%;
    font-size: 13px;
    color: white;
    padding-left: 5px;
    background-color: #040124;
}
