.links{
    font-size: 2vh;
    height: 12vh;
    width: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links *{
    cursor: pointer;
    color: white;
}

.links a:nth-child(2){
    margin-left: 0.2vh;
}
