.links{
    font-size: 20px;
    height: 120px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.links *{
    cursor: pointer;
    color: white;
}

.links a:nth-child(2){
    margin-left: 2px;
}
