
#aboutPage{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.9vh solid #06b56e;
}

#aboutPage > div:first-child {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 15%;
    font-family: Alkatra;
    position: relative;
    color: white;
    box-sizing: border-box;
    border-bottom: 1vh solid #06b56e;
    clip-path: polygon(0% 100%, 75vh 100%, 80.5vh 50%, 100% 50%, 100% 0%, 0% 0%);
}

#aboutCentral {
    width: 117vh;
}

#aboutCentral > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37vh;
    height: 100%;
}

#aboutCentral h1{
    font-size: 4.2vh;
    left: 60vh;
    position: absolute;
    font-weight: 400;
    width: fit-content;
}

#aboutPage > span:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 15%);
    width: 100%;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer > div {
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    width: 125vh;
}

#leftContainer {
    width: 40%;
}

#leftContainer h3{
    font-size: 2.5vh;
    margin-top: 0px;
    font-family: Alkatra;
    margin-bottom: 0;
}

#leftContainer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
    margin-top: 1vh;
    font-size: 1.7vh;
    font-weight: 600;
    width: fit-content;
    padding: 0.5vh 1.2vh 0.8vh 1vh;
    border-radius: 0.7vh;
    color: white;
    border: 0.3vh solid white;
    box-sizing: border-box;
    background-color: #00a568;
}

#leftContainer a:hover {
    background-color: white;
    color: black;
    border: 0.3vh solid black;
}

#leftContainer > :nth-child(2) {
    margin: 0 5.5vh 0 1vh;
}

#leftContainer > :nth-child(1) > div {
    font-size: 1.66vh;
    font-family: 'Nova Square', sans-serif;
}

#rightContainer {
    width: 50%;
}

#video{
    width: 100%;
    height: 100%;
}

#video iframe {
    width: 100%;
    height: 100%;
}

#rightContainer h4 {
    font-size: 2.4vh;
    font-weight: 400;
    margin-top: 1vh;
    margin-bottom: 0;
    font-family: Alkatra;
}

#rightContainer > div:first-child {
    height: 60%;
}

#rightContainer > div:last-child {
    display: flex;
    height: calc(100% - 65%);
}

#rightContainer > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightContainer > div:last-child > div:first-child {
    width: 50%;
    height: 100%;
}

#rightContainer > div:last-child > div:first-child > div {
    font-size: 1.6vh;
    padding-right: 2vh;
    font-family: 'Nova Square', sans-serif;
}

#desktop {
    width: 50%;
    height: 85%;
    background: url("./../../../assets/images/desktop.jpg") center/cover;
}

@media screen and (max-width: 1250px) {
    #aboutCentral {
        width: auto;
    }

    #aboutCentral > div{
        width: 57vh;
    }
}

@media screen and (max-width: 1065px) {
    #aboutCentral h1{
        left: 49vh;
    }

    #aboutPage > div:first-child {
        clip-path: polygon(0% 100%, 60vh 100%, 65.5vh 50%, 100% 50%, 100% 0%, 0% 0%);
    }
}

@media screen and (max-width: 800px) {
    #getBack {
        position: absolute;
        left: 15vw;
    }

    #aboutCentral > div {
        width: auto;
    }
    
    #aboutCentral h1{
        position: static;
    }
    
    #aboutPage > div:first-child {
        clip-path: polygon(0% 100%, 60vw 100%, 68vw 50%, 100% 50%, 100% 0%, 0% 0%);
    }
}

@media screen and (max-width: 445px) {
    #aboutPage > div:first-child {
        min-width: 320px;
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
    }
}