#emailStyle{
    background-color: white;
    border-radius: 0.3vh;
    width: 100%;
    padding: 1.5vh;
}

#emailMessage{
    color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 98%;
    font-family: 'Alkatra', sans-serif;
}

#emailMessage p {
    font-weight: 620;
    font-size: 1.7vh;
    margin: 0.8vh 0 1.5vh 0;
}

#emailMessage input {
    border: 0;
    margin-bottom: 1vh;
    padding: 0.4vh 1vh 0.4vh 1vh;
}

#emailMessage textarea{
    resize: none;
}

#emailMessage input, textarea{
    padding-left: 0.5vh;
    border-radius: 0.5vh;
    font-size: 1.2vh;
    font-family: san-serif;
    background-color: #F7F6FE;
    border-color: transparent;
    font-family: 'Alkatra', sans-serif;
}

#btnSendMessage{
    display: flex;
    justify-content: flex-end;
}

#btnSendMessage button{
    background-color: #343435;
    cursor: not-allowed;
    border: none;
    color: white;
    font-size: 1vh;
    margin: 1.5vh 0.5vh 0.5vh 0px;
    padding: 1.2vh;
    padding-inline: 1.5vh;
    border-radius: 0.5vh;
    font-family: 'Nova Square', sans-serif;
}
