
#expertiseComponent {
    width: 90%;
}

#grab {
    cursor: grab;
}

#grab li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectList{
    display: flex;
    align-items: center;    
    width: 80%;
    padding: 5vh 0;
    border-radius: 2vh;
    font-family: 'Nova Square', sans-serif;
    color: white;
    background-color: #0a0b10;
}

#projectList > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectList > div > h4 {
    width: 80%;
    color: white;
    font-size: 1.5vh;
    text-align: center;
    font-family: curseve;
}

#icon {
    color: #19b381;
    margin-left: 0.3vh;
    font-size: 2vh;
}

#services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 3vh;
    min-width: 47vh;
}

#services > div {
    width: 25%;
    margin-right: 2.5vh;
    margin-bottom: 2%;
}

#services > div > h4 {
    font-size: 1.5vh;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
}

#services > div > :last-child{
    font-size: 1.3vh;
    color: #6b6f81;
    font-weight: 600;
}
/* ============================================================ */

#tecnologies{
    display: flex;
    width: 80%;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Alkatra', sans-serif;
}

#outdoor{
    background-color: #0a0b10;
    border-radius: 1vh;
    display: flex;
    width: 100%;
    height: 45%;
    color: white;
}

#outdoor div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 40%;
    height: 100%;
}

#outdoor > div:nth-child(1) > img{
    width: 40%;
}

#outdoor > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#outdoor > div:nth-child(2) h2{
    margin: 0;
    font-weight: 500;
    font-size: 2.6vh;
    color: white
}

#outdoor > div:nth-child(2) p{
    margin: 0;
    margin-top: 0.5vh;
    color: white;
    font-size: 1.6vh;
    font-family: curseve;
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
}

/* ========================================================== */

@media screen and (max-width: 695px) {

    #projectList{
        padding: calc(5 * 1.3vw) 0;
        border-radius: calc(2 * 1.3vw);
    }
    
    #projectList > div > h4 {
        font-size: calc(1.5 * 1.3vw);
    }
    
    #icon {
        margin-left: calc(0.3 * 1.3vw);
        font-size: calc(2 * 1.3vw);
    }
    
    #services {
        padding-left: calc(3 * 1.3vw);
        min-width: calc(47 * 1.3vw);
    }
    
    #services > div {
        margin-right: calc(2.5 * 1.3vw);
    }
    
    #services > div > h4 {
        font-size: calc(1.5 * 1.3vw);
        margin-top: calc(1.2 * 1.3vw);
        margin-bottom: calc(1 * 1.3vw);
    }
    
    #services > div > :last-child{
        font-size: calc(1.3 * 1.3vw);
    }
    /* ============================================================ */
    
    #tecnologies{
        height: calc(40 * 1.3vw);
    }
    
    #outdoor{
        border-radius: calc(1 * 1.3vw);
    }
    
    #outdoor > div:nth-child(2) h2{
        font-size: calc(2.6 * 1.3vw);
    }
    
    #outdoor > div:nth-child(2) p{
        margin-top: calc(0.5 * 1.3vw);
        font-size: calc(1.6 * 1.3vw);
    }
}