
#projects{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#projects span:nth-child(1){
    display: flex;
    justify-content: center;
    height: 105px;
    width: 100vw;
    min-width: 420px;
    background-color: black;
}

#projects span:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100% - 105px);
    width: 100%;
}

#projectsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 980px;
}

#fromProjectToMain{
    height: 100%;
    padding-left: 70px;
    display: flex;
    justify-content: flex-end;
}

/* IconBack */
#fromProjectToMain a {
    margin-top: 20px;
    height: fit-content;
}

#title{
    display: flex;
    font-size: 35px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
    height: 100%;
    color: white;
}

#projectList{
    display: flex;
    height: 400px;
    margin-top: 10px;
    width: calc(990px - 420px);
}

#tecnologies{
    display: flex;
    height: 400px;
    width: 420px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#outdoor{
    background-color: rgb(40, 38, 62);
    display: flex;
    width: 90%;
    height: 40%;
}

#outdoor div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 40%;
    height: 100%;
}

#outdoor img{
    width: 100px;
    height: 100px;
}

#outdoor div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#outdoor div:nth-child(2) h2{
    margin-bottom: 0px;
    font-weight: 500;
    color: white
}

#outdoor div:nth-child(2) p{
    margin-top: 5px;
    color: white;
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 40%;
}
/* ========================================================== */
@media screen and (max-width: 1015px) {
    #projects span:nth-child(2){
        flex-wrap: wrap;
    }

    #projects span:nth-child(2) > div {
        order: 1;
    }
    
    #projects span:nth-child(2) > div:first-child {
        order: 2;
    }
}

@media screen and (max-width: 570px) {

    #title {
        font-size: 30px;
    }

    #projects span:nth-child(1){
        min-width: 300px;
    }

    #tecnologies {
        width: 100%;
    }

    #projectList {
        width: 100%;
        margin-top: 0px;
        height: 300px;
    }
}