


#projects{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-bottom: 0.8vh solid #06b56e;
}

/* ====================== IconBack ====================== */
#projects > div > a {
    position: absolute;
    height: fit-content;
    z-index: 100;
    top: 2.5vh;
    left: 29vh;
}

/* ======================================================= */

#projects > span:nth-child(2){
    display: flex;
    justify-content: center;
    height: 10vh;
    min-width: 42vh;
    font-family: 'Alkatra', sans-serif;
    background-color: black;
    clip-path: polygon(0% 50%, 26vh 50%, 30vh 100%, 100% 100%, 100% 0%, 0% 0%);
    box-sizing: border-box;
    border-bottom: 0.8vh solid #06b56e;
}

#projects > span:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#projectsHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 98vh;
}

#title{
    display: flex;
    font-size: 3.5vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vh;
    height: 100%;
    color: white;
}

#projectList{
    display: flex;
    align-items: center;    
    width: 75vh;
    padding: 5vh 2vh;
    border-radius: 2vh;
    margin: 0 5vh;
    color: white;
    font-family: 'Nova Square', sans-serif;
    background-color: #0a0b10;
}

#projectList > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectList > div > h4 {
    width: 80%;
    color: white;
    font-size: 1.5vh;
    font-family: curseve;
    text-align: center;
}

#icon {
    color: #19b381;
    margin-left: 0.3vh;
    font-size: 2vh;
}

#services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#services > div {
    width: 25%;
    margin-right: 2.5vh;
    margin-bottom: 2%;
}

#services > div > h4 {
    font-size: 1.5vh;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
}

#services > div > :last-child{
    font-size: 1.3vh;
    color: #6b6f81;
    font-weight: 600;
}
/* ============================================================ */

#tecnologies{
    display: flex;
    width: 52vh;
    height: 40vh;
    min-height: 40vh;
    margin: 0 5vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#outdoor{
    background-color: #0a0b10;
    border-radius: 1vh;
    display: flex;
    width: 100%;
    height: 45%;
}

#outdoor div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 40%;
    height: 100%;
}

#outdoor img{
    width: 10vh;
    height: 10vh;
}

#outdoor div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#outdoor div:nth-child(2) h2{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 2.6vh;
    font-family: 'Alkatra', sans-serif;
    color: white
}

#outdoor div:nth-child(2) p{
    margin-top: 0.5vh;
    color: white;
    font-size: 1.6vh;
    font-family: curseve;
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42%;
}
/* ========================================================== */
@media screen and (max-width: 695px) {
    #title{
        padding-right: 7vw;
    }

    #projects > span:nth-child(3) > div{
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 570px) {

    #projects > div > a {
        z-index: 500;
        top: 6vh;
        left: 16vh;
    }

    #projects > span:nth-child(2){
        min-width: 0px;
        clip-path: polygon(0% 50%, 20vh 50%, 24vh 100%, 100% 100%, 100% 0%, 0% 0%);
    }

    #iconBack {
        color: black;
    }
}

@media screen and (max-width: 440px) {
    #title{
        font-size: 3vh;
    }

    #projects > div > a {
        z-index: 500;
        top: 6vh;
        left: 7vh;
    }

    #projects > span:nth-child(2){
        min-width: 320px;
        clip-path: polygon(0% 50%, 11vh 50%, 15vh 100%, 100% 100%, 100% 0%, 0% 0%);
    }
}