
#projects{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.8vh solid #06b56e;
}

#projects span:nth-child(1){
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    min-width: 42vh;
    background-color: black;
    clip-path: polygon(0% 50%, 20% 50%, 23% 100%, 100% 100%, 100% 0%, 0% 0%);
    box-sizing: border-box;
    border-bottom: 0.8vh solid #06b56e;
}

#projects span:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 10vh);
    width: 100%;
}

#projectsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 98vh;
}

#fromProjectToMain{
    height: 100%;
    padding-top: 1vh;
    display: flex;
    justify-content: flex-end;
}

/* IconBack */
#fromProjectToMain a {
    margin-top: 2vh;
    height: fit-content;
}

#title{
    display: flex;
    font-size: 3.5vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10vh;
    height: 100%;
    color: white;
}

#projectList{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 75vh;
    padding: 2vh;
    margin-right: 10vh;
    border-radius: 2vh;
    color: white;
    background-color: #0a0b10;
}

#projectList > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectList > div > h4 {
    width: 80%;
    color: white;
    font-size: 1.5vh;
    text-align: center;
}

#icon {
    color: #19b381;
    margin-left: 0.3vh;
    font-size: 2vh;
}

#services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#services > div {
    width: 25%;
    margin-right: 2.5vh;
    margin-bottom: 2%;
}

#services > div > h4 {
    font-size: 1.5vh;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
}

#services > div > :last-child{
    font-size: 1.3vh;
    color: #6b6f81;
    font-weight: 600;
}
/* ============================================================ */
#tecnologies{
    display: flex;
    height: 50vh;
    width: 52vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#outdoor{
    background-color: #0a0b10;
    border-radius: 1vh;
    display: flex;
    width: 100%;
    height: 40%;
}

#outdoor div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 40%;
    height: 100%;
}

#outdoor img{
    width: 10vh;
    height: 10vh;
}

#outdoor div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#outdoor div:nth-child(2) h2{
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 2.6vh;
    color: white
}

#outdoor div:nth-child(2) p{
    margin-top: 0.5vh;
    color: white;
    font-size: 1.6vh;
}

#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
/* ========================================================== */
/* @media screen and (max-width: 1015px) {
    #projects span:nth-child(2){
        flex-wrap: wrap;
    }

    #projects span:nth-child(2) > div {
        order: 1;
    }
    
    #projects span:nth-child(2) > div:first-child {
        order: 2;
    }
}

@media screen and (max-width: 570px) {

    #title {
        font-size: 30px;
    }

    #projects span:nth-child(1){
        min-width: 300px;
    }

    #tecnologies {
        width: 100%;
    }

    #projectList {
        width: 100%;
        margin-top: 0px;
    }
} */