#mainPage{
    height: 100%;
}

#blocoUm {
    width: 100%;
    height: 380px;
}

#blocoDois {
    width: 100%;
    height: calc(100% - 380px);
}

/* ================================================================== */
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    min-width: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.37) 100%, transparent), url("../../../assets/gifs/matrix-rain.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    min-width: 350px;
    position: absolute;
}

.face{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    background-image: url("../../../assets/images/eu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* ================================================================== */
.subject{
    display: flex;
    position: absolute;
    cursor: default;
    justify-content: center;
    height: 5%;
    width: 100vw;
    min-width: 350px;
}

.subject div:nth-child(1){
    height: 35px;
    width: 100%;
    z-index: 5;
    position: absolute;
    background-color: white;
    clip-path: polygon(0% 15%, 100% 15%, 100% 0%, 0% 0%);
}

.subject div:nth-child(2){
    display: flex;
    z-index: 10;
    align-items: center;
    position: absolute;
    justify-content: center;
    color: red;
    height: 35px;
    width: 250px;
    color: gray;
    font-size: 10px;
    font-weight: 620;
    background-color: white;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0%, 0% 0%);
}

/* ====================================================== */
.projects{
    height: 100%;
    width: 100%;
    min-height: 220px;
    min-width: 350px;
    background-color: black;
}

.grayLayer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11141c;
    clip-path: polygon(0% 99%, 40% 99%, 60% -1%, 100% 0%, 100% 100%, 0% 100%);
}
/* ====================================================== */
.mainLayer{
    color: white;
    position: relative;
    bottom: 100%;
    width: 100vw;
    height: 100%;
    min-width: 350px;
}

.mainProjects{
    display: flex;
    padding-top: 37px;
    justify-content: center;
    align-items: center;
    color: white;
}

.mainProjects div::selection{
    background-color: transparent;
}

.mainProjects a {
    margin: 10px;
    width: 210px;
    height: 160px;
    text-decoration: none;
}

.project {
    height: 80%;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    border-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.projectName {
    color: black;
    height: 20%;
    font-size: 13px;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 8px;
    border-radius: 10px;
    background-color: white;
}
/* ====================================================== */
.mainProjects a:nth-child(1) .project{
    background-image: url("https://raw.githubusercontent.com/wellingtonPLF/MyIndividualManagement/master/_Apresentation/userScreen.png");
}

.mainProjects a:nth-child(2) .project{
    background-image: url("https://github.com/wellingtonPLF/MyJList/blob/main/_Apresentation/mainScreen.png?raw=true");
}

.mainProjects a:nth-child(3) .project{
    background-image: url("/indimap.png");
}

.mainProjects a:nth-child(4) .project{
    background-image: url("https://raw.githubusercontent.com/wellingtonPLF/ReactMovieFrontEnd/master/_Apresentation/DSMovie.png");
}

.project div:first-child{
    background-color: #008854;
    color: white;
    padding: 3px 5px 5px 5px;
    width: fit-content;
}
/* ====================================================== */

@media screen and (max-width: 900px) {
    
    .mainProjects a{
        width: 140px;
        height: 100px;
    }

    .projectName{
        font-size: 10px;
    }
}

@media screen and (max-width: 650px) {
    .mainProjects {
        flex-wrap: wrap;
    }
}