#mainPage{
    height: 100%;
}

#blocoUm {
    width: 100%;
    height: 48vh;
    min-width: 40vh;
}

#blocoDois {
    width: 100%;
    height: calc(100% - 48vh);
}

/* ================================================================== */
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    min-width: 35vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, transparent), url("../../../assets/gifs/matrix-rain.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2vh;
    min-width: 35vh;
    position: absolute;
}

.face{
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    border: 0.7vh solid white;
    background-image: url("../../../assets/images/eu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* ================================================================== */
.subject{
    display: flex;
    position: absolute;
    cursor: default;
    justify-content: center;
    height: 5%;
    width: 100vw;
    min-width: 35vh; 
    min-width: 40vh;
}

.subject div:nth-child(1){
    height: 5vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    background-color: white;
    clip-path: polygon(0% 15%, 100% 15%, 100% 0%, 0% 0%);
}

.subject div:nth-child(2){
    display: flex;
    z-index: 10;
    align-items: center;
    position: absolute;
    justify-content: center;
    color: red;
    height: 4.5vh;
    width: 32vh;
    color: gray;
    font-size: 1.2vh;
    font-weight: 620;
    background-color: white;
    clip-path: polygon(10% 100%, 90% 100%, 100% 0%, 0% 0%);
}

/* ====================================================== */
.projects{
    height: 100%;
    width: 100%;
    min-height: 22vh;
    min-width: 35vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 30%, rgba(12, 44, 59, 0.349)),
    url("https://wallpapercave.com/wp/wp2732962.jpg");
}

/* ====================================================== */
.mainLayer{
    color: white;
    bottom: 100%;
    width: 100vw;
    height: 100%;
    min-width: 35vh;
}

.mainProjects{
    display: flex;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 40vh;
}

.mainProjects div::selection{
    background-color: transparent;
}

.mainProjects a {
    margin: 1vh;
    width: 27vh;
    height: 21vh;
    transition: transform 1s;
    will-change: transform;
    text-decoration: none;
}

.mainProjects a > div:first-child {
    height: 80%;
}

.project {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 1vh;
    background-color: black;
    border-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainProjects a:hover {
    transform: scale(0.9)
}

.projectName {
    display: flex;
    align-items: center;
    color: white;
    height: 20%;
    font-size: 1.5vh;
    padding-left: 1.2vh;
    margin-top: 0.8vh;
    border-radius: 1.2vh;
    background-color: #0e0f14a1;
    border: 0.35vh solid white;
    font-weight: 600;
}
/* ====================================================== */
.project {
    background-position: center;
}

.mainProjects a:nth-child(1) .project{
    background-image: url("/mym.png");
}

.mainProjects a:nth-child(2) .project{
    background-image: url("/myjlist.jpg");
}

.mainProjects a:nth-child(3) .project{
    background-image: url("/indimap.png");
}

.mainProjects a:nth-child(4) .project{
    background-image: url("/webmusic.jpg");
}

.project div:first-child{
    background-color: #008854;
    color: white;
    border-bottom-right-radius: 1vh;
    padding: 0.8vh 1.2vh;
    font-weight: 600;
    font-size: 1.5vh;
    width: fit-content;
}
/* ====================================================== */

@media screen and (max-width: 1150px) {
    
    .mainProjects a{
        width: 18vh;
        height: 15vh;
    }

    .projectName{
        font-size: 1vh;
    }

    .project div:first-child{
        padding: 0.8vh 1.2vh;
        font-size: 1.15vh;
    }
}

@media screen and (max-width: 800px) {
    .mainProjects {
        flex-wrap: wrap;
    }

    .mainProjects a{
        margin-bottom: 2vh;
    }
    
    #blocoUm {
        height: 38vh;
    }

    #blocoDois {
        height: calc(100% - 38vh);
    }
}